<div class="section-four">
  <div class="hq-store-blog">
    <div class="hq-store text-left">
      <div class="container">
        <div class="hq-store-padd">
          <div class="row">
            <div class="col-md-7 col-sm-7 col-xs-12">
              <h2 class="brand-blue">What's In Store?</h2>
              <span class="dark">No matter what the type or size of your business, the structure of your organization,
                the values that drive your
                culture or the demographic profile of your employees, there is something for every organization. Check
                out
                all the different packages that HQ offers.</span>
              <br>
              <a ui-sref="packagedetail" class="btn btn-blue">Click Here</a>
              <div class="hq-blog text-left">
                <h2 class="brand-blue">Visit Our Blog</h2>
                <a href="http://blog.willnevergrowup.com/" target="_blank" class="btn btn-blue">Click Here</a>
              </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <!-- <div class="iphone">
              <img src="img/section4/iPhone-03.png" alt="" class="iphone1 img-responsive" />
              <img src="img/section4/iPhone-01.png" alt="" class="iphone2 img-responsive" />
            </div> -->
              <div class="hq-image">
                <img src="img/section2/computer-screen.png" alt="" class="img-responsive" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="hq-store-guy">
      <img src="img/section4/1.png" alt="" class="img-responsive"/>
    </div> -->
  </div>
</div>
<div class="pattern-bottom bg-success">
  <img src="img/left.png" alt="" class="img-responsive" />
</div>