<div class="section-three">
  <div class="hq-video">
    <!-- youtube video -->
  </div>
  <div class="hq-video-detail">
    <h4 class="text-center">As they say,</h4>
    <h4 class="text-center">you've got to see it to believe it.</h4>
  </div>
  <div class="hq-awesome-guy">
    <img src="" alt="" class="img-responsive" />
  </div>
  <div class="hq-store-blog">
    <div class="hq-store text-center">
      <h2>What's in Store?</h2>
      <span>To know what more is in store about Happyness Quotient!</span>
      <button type="button" class="btn btn-primary">Click here</button>
    </div>
    <div class="hq-blog text-center">
      <h2>Visit our blog</h2>
      <button type="button" class="btn btn-primary">Click here</button>
    </div>
    <div class="hq-store-guy">
      <img src="" alt="" class="img-responsive" />
    </div>
  </div>
</div>
