<div class="section-six">
  <div class="hq-reports">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="hq-report-image">
            <img src="img/section6/1.png" alt="" class="img-responsive" />
          </div>
        </div>
        <div class="col-md-7">
          <div class="hq-report-detail">
            <h4 class="text-left">I have the reports. What next?</h4>
            <p class="text-left"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
