<div class="section-four">
  <div class="hq-store-blog">
    <div class="hq-store text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-xs-12">
            <h2 class="brand-blue">What's In Store?</h2>
            <span>To know what more is in store about Happyness Quotient</span><br>
            <a ui-sref="packagedetail" class="btn btn-blue">Click Here</a>
            <div class="hq-blog text-center">
              <h2 class="brand-blue">Visit Our Blog</h2>
              <a href="http://blog.willnevergrowup.com/" target="_blank" class="btn btn-blue">Click Here</a>
            </div>
          </div>

          <div class="col-md-4 hidden-xs">
            <img src="img/section4/1.png" alt="" class="img-responsive"/>
          </div>

        </div>
      </div>
    </div>
    <!-- <div class="hq-store-guy">
      <img src="img/section4/1.png" alt="" class="img-responsive"/>
    </div> -->
  </div>
</div>
<div class="pattern-bottom bg-success">
  <img src="img/left.png" alt="" class="img-responsive"/>
</div>
