<div class="pattern-top">
  <img src="img/blue-left.png" alt="" class="full-image" />
</div>
<div class="section-three">

    <img src="img/section3/1.jpg" alt="videos" class="full-image" />

  <div class="hq-video-detail get-center">
    <h2 class="text-center light">As they say,<br>you've got to see it to believe it.</h2>
    <a ng-click="open()"><span class="text-center light"><i class="fa fa-play-circle"></i></span></a>
  </div>
  <div class="hq-awesome-guy">
    <img src="img/section3/awesome-guy.png" alt="" class="img-responsive" />
  </div>
</div>
<div class="pattern-bottom to-bottom">
  <img src="img/reverse-white.png" alt="" class="full-image" />
</div>
