<div class="section-five">
  <h2 class="text-center">How Is Happyness Quotient Different?</h2>
  <div class="hq-table">
    <table class="table">
      <tbody>
        <tr>
          <td>Customized Weightages</td>
          <td><i class="fa fa-check"></i></td>
          <td>Importance to what resonates with your culture &amp; values.</td>
        </tr>
        <tr>
          <td>Flexibility to Add a Pillar</td>
          <td><i class="fa fa-check"></i></td>
          <td>Track what is important to you as a company.</td>
        </tr>
        <tr>
          <td>Mobile Responsive</td>
          <td><i class="fa fa-check"></i></td>
          <td>Deployment Across Desktop, IOS &amp; Android Devices.</td>
        </tr>
        <tr>
          <td>Visually Appealing &amp; Fun.</td>
          <td><i class="fa fa-check"></i></td>
          <td>No More Boring Questions, Employee Centric.</td>
        </tr>
        <tr>
          <td>Paradigm Shift in understanding teams.</td>
          <td><i class="fa fa-check"></i></td>
          <td>Helps understand business alignment, mental health and employee driving force rooted in psychology.</td>
        </tr>
        <tr>
          <td>Not Just Data</td>
          <td><i class="fa fa-check"></i></td>
          <td>Actionable Idea Presentations backed by analytics.</td>
        </tr>
        <tr>
          <td>Real Time Access</td>
          <td><i class="fa fa-check"></i></td>
          <td>Download charts &amp; Reports 24X7.</td>
        </tr>
        <tr>
          <td>Mini Surveys</td>
          <td><i class="fa fa-check"></i></td>
          <td>Run unlimited mini-surveys independently.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
