<div class="section-five">
	<div class="container">
		<h2 class="text-center light">How Is Happyness Quotient Different?</h2>
		<div class="hq-table">
			<table>
				<tbody>
					<tr>
						<td class="light">Customized Weightages</td>
						<td class="text-center"><i class="fa fa-check warning"></i></td>
						<td class="light">Importance to What Resonates with Your Culture &amp; Values</td>
					</tr>
					<tr>
						<td class="light">Flexibility to Add a Pillar</td>
						<td class="text-center"><i class="fa fa-check warning"></i></td>
						<td class="light">Track What is Important to You as a Company</td>
					</tr>
					<tr>
						<td class="light">Mobile Responsive</td>
						<td class="text-center"><i class="fa fa-check warning"></i></td>
						<td class="light">Deployment Across Desktop, IOS &amp; Android Devices</td>
					</tr>
					<tr>
						<td class="light">Visually Appealing &amp; Fun</td>
						<td class="text-center"><i class="fa fa-check warning"></i></td>
						<td class="light">No More Boring Questions, Employee Centric</td>
					</tr>
					<tr>
						<td class="light">Paradigm Shift in Understanding Teams</td>
						<td class="text-center"><i class="fa fa-check warning"></i></td>
						<td class="light">Helps Understand Business Alignment, Mental Health and Employee Driving Force Rooted in Psychology</td>
					</tr>
					<tr>
						<td class="light">Not Just Data</td>
						<td class="text-center"><i class="fa fa-check warning"></i></td>
						<td class="light">Actionable Idea Presentations Backed by Analytics</td>
					</tr>
					<tr>
						<td class="light">Real Time Access</td>
						<td class="text-center"><i class="fa fa-check warning"></i></td>
						<td class="light">Download Charts &amp; Reports 24X7</td>
					</tr>
					<tr>
						<td class="light">Mini Surveys</td>
						<td class="text-center"><i class="fa fa-check warning"></i></td>
						<td class="light">Run Unlimited Mini-Surveys Independently</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="more-query">
			<p>Got more queries?</p>
			<p><a ui-sref="faq" class="btn btn-green1">Check out these FAQs</a></p>
			<!--<button type="button" class="btn btn-green" ng-click="changeMeasure(true)">Why Measure Happyness?</button>-->
		</div>
	</div>
</div>
<div class="pattern-bottom bg-danger">
	<img src="img/right.png" alt="" class="full-image" />
</div>