<div class="section-six">
  <div class="hq-reports get-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
          <div class="hq-report-image">
            <img src="img/section6/1.png" alt="" class="img-responsive" />
          </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <div class="hq-report-detail">
            <h2 class="text-left warning">I have the reports. What next?</h2>
            <p class="text-justify light">We are happy to manage turnkey execution and to ensure that the recommended initiatives lead to a positive impact on your company's Happyness Quotient.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattern-bottom bg-success">
  <img src="img/red-left.png" alt="" class="full-image" />
</div>
