<div class="hq-features">
  <div class="section-two get-center">
    <div class="inner-about">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="hq-image">
              <img src="img/section2/hq-logo.png" alt="" class="img-responsive" />
            </div>
          </div>
          <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="hq-about" ng-hide="measure || unique">
              <h2 class="text-left primary">What's Happyness Quotient all about?</h2>
              <p class="text-justify light">Happyness Quotient<sup>TM</sup> is an
                <span class="text-bold">innovative</span> and
                <span class="text-bold">intuitive People Management Tool</span> powered by Never Grow Up ® that provides a
                <span class="text-bold">real time indication</span> of the level of happiness across your organization by analysing what drives individuals based on their personal and professional choices.</p>
              <p class="text-justify light">As a cloud based tool, Happyness Quotient is
                <span class="text-bold">fun, flexible and can adapt</span> to suit the needs of your organization while maintaining standardization! You can analyse responses to get a
                <span class="text-bold">drilled down ‘one view’</span> of your Company Happyness Quotient [HQ] as you administer it across desktops, IOS or Android devices.</p>
              <p class="text-justify light">
                <span class="text-bold">What’s more?</span> The tool comes with the option to assign weightages, auto-pilot deployment and track
                <span class="text-bold">what matters to your company.</span>
              </p>
              <div class="about-buttons">
                <button type="button" class="btn btn-pink" ng-click="changeMeasure(true)">Why Measure Happyness?</button>
                <button type="button" class="btn btn-pink" ng-click="changeUnique(true)">What's unique about Happyness Quotient?</button>
              </div>
              <div class="about-image">
                <img src="img/section2/1.png" alt="" class="img-responsive" />
              </div>
            </div>

            <div class="about-one" ng-show="measure">
              <h2 class="primary">Why measure Happyness?</h2>
              <p class="text-justify light">With an ever evolving workforce and increasing competition, measuring engagement levels alone may no longer be adequate. Since different things matter to different individuals across gender, age groups and seniority levels, measuring overall
                happyness levels and understanding professional choices can give organizations a
                <span class="text-bold">more accurate picture of what really drives their employees.</span>
              </p>
              <p class="text-justify light">This in turn means
                <span class="text-bold">better decision making, more accurate initiative launches</span> and bringing in a degree of
                <span class="text-bold">accountability</span> and
                <span class="text-bold">measurability</span> to areas that may earlier seem subjective. After all, it is only by figuring out what truly drives their workforce can organizations build strategies that help them stay ahead of the curve.
              </p>
              <button type="button" class="btn btn-pink" ng-click="changeMeasure(false)">Back</button>
              <div class="about-one-image">
                <img src="img/section2/2.png" alt="" class="img-responsive" />
              </div>
            </div>

            <div class="about-two light"  ng-show="unique">
              <h2 class="primary">What's unique about Happyness Quotient?</h2>
              <div class="unique-points"><i class="fa fa-check warning"></i><p>Pillars rooted in people behaviour.</p></div>
              <div class="unique-points"><i class="fa fa-check warning"></i><p>Customized to suit company values and business objectives and business objectives.</p></div>
              <div class="unique-points"><i class="fa fa-check warning"></i><p>Strategic, action-oriented reporting.</p></div>
              <div class="unique-points"><i class="fa fa-check warning"></i><p>Developed with inputs from industry experts.</p></div>
              <div class="unique-points"><i class="fa fa-check warning"></i><p>Turnkey execution for recommended initiatives.</p></div>
              <div class="unique-points"><i class="fa fa-check warning"></i><p>Real time access to exportable data.</p></div>
              <div class="unique-points"><i class="fa fa-check warning"></i><p>Relevant across levels and demographics.</p></div>
              <div class="unique-points"><i class="fa fa-check warning"></i><p>Customizable weightages.</p></div>
              <div class="unique-points"><i class="fa fa-check warning"></i><p>Option to add a core pillar.</p></div>
              <div class="unique-points"><i class="fa fa-check warning"></i><p>Centrally run &amp; manage mini surveys throughout the year.</p></div>
              <button type="button" class="btn btn-pink" ng-click="changeUnique(false)">Back</button>
              <div class="about-two-image">
                <img src="img/section2/3.png" alt="" class="img-responsive" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
