<div class="hq-features">
  <div class="sectio-two get-center">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="hq-image">
            <img src="img/section2/hq-logo.png" alt="" class="img-responsive" />
          </div>
        </div>
        <div class="col-md-7">
          <div class="hq-about">
            <p class="about-title text-left primary">What's Happyness Quotient all about?</p>
            <p class="text-justify light">Happyness Quotient<sup>TM</sup> is an
              <span class="text-bold">innovative</span> and
              <span class="text-bold">intuitive People Management Tool</span> powered by Never Grow Up ® that provides a
              <span class="text-bold">real time indication</span> of the level of happiness across your organization by analysing what drives individuals based on their personal and professional choices.</p>
            <p class="text-justify light">As a cloud based tool, happyness quotient is
              <span class="text-bold">fun, flexible and can adapt</span> to suit the needs of your organization while maintaining standardization! You can analyse responses to get a
              <span class="text-bold">drilled down ‘one view’</span> of your Company Happyness Quotient [HQ] as you administer it across desktops, IOS or Android devices.</p>
            <p class="text-justify light">
              <span class="text-bold">What’s more?</span> The tool comes with the option to assign weightages, auto-pilot deployment and track
              <span class="text-bold">what matters to your company.</span>
            </p>
            <div class="about-buttons">
              <button type="button" class="btn btn-primary">Why Measure Happyness?</button>
              <button type="button" class="btn btn-primary">What's unique about Happyness Quotient?</button>
            </div>
            <div class="about-image">
              <img src="img/section2/1.png" alt="" class="img-responsive" />
            </div>
          </div>

          <div class="about-one">
            <p class="about-title primary">Why measure Happyness?</p>
            <p class="text-left light">With an ever evolving workforce and increasing competition, measuring engagement levels alone may no longer be adequate. Since different things matter to different individuals across gender, age groups and seniority levels, measuring overall
              happyness levels and understanding professional choices can give organizations a
              <span class="text-bold">more accurate picture of what really drives their employees.</span>
            </p>
            <p class="text-left light">This in turn means
              <span class="text-bold">better decision making, more accurate initiative launches</span> and bringing in a degree of
              <span class="text-bold">accountability</span> and
              <span class="text-bold">measurability</span> to areas that may earlier seem subjective. After all, it is only by figuring out what truly drives their workforce can organizations build strategies that help them stay ahead of the curve.
            </p>
            <button type="button" class="btn btn-primary">Back</button>
            <div class="about-one-image">
              <img src="img/section2/2.png" alt="" class="img-responsive" />
            </div>
          </div>

          <div class="about-two">
            <p class="about-title primary">What's unique about Happyness Quotient?</p>
            <p class="light"><i class="fa fa-check warning"></i>Pillars rooted in people behaviour.</p>
            <p class="light"><i class="fa fa-check warning"></i>Customized to suit company values and business objectives and business objectives.</p>
            <p class="light"><i class="fa fa-check warning"></i>Strategic, action-oriented reporting.</p>
            <p class="light"><i class="fa fa-check warning"></i>Developed with inputs from industry experts.</p>
            <p class="light"><i class="fa fa-check warning"></i>Turnkey execution for recommended initiatives.</p>
            <p class="light"><i class="fa fa-check warning"></i>Real time access to exportable data.</p>
            <p class="light"><i class="fa fa-check warning"></i>Relevant across levels and demographics.</p>
            <p class="light"><i class="fa fa-check warning"></i>Customizable weightages.</p>
            <p class="light"><i class="fa fa-check warning"></i>Option to add a core pillar.</p>
            <p class="light"><i class="fa fa-check warning"></i>Centrally run &amp; manage mini surveys throughout the year.</p>
            <button type="button" class="btn btn-primary">Back</button>
            <div class="about-two-image">
              <img src="img/section2/3.png" alt="" class="img-responsive" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
