<div class="section-three">
  <div class="hq-video">
    <!-- youtube video -->
    <!-- <img src="img/section3/1.jpg" alt="" class="img-responsive" /> -->
  </div>
  <div class="hq-video-detail get-center">
    <h4 class="text-center light">As they say,<br>you've got to see it to believe it.</h4>
    <span class="text-center light"><i class="fa fa-play-circle"></i></span>
  </div>
  <div class="hq-awesome-guy">
    <img src="img/section3/awesome-guy.png" alt="" class="img-responsive" />
  </div>
</div>
