<div class="centralize text-center">
  <img alt="Logo" class="img-responsive center-img logo" src="img/logo.png"/>
  <div class="happy-people container-fluid">
    <div class="row">
      <div class="col-xs-3">
        <img class="img-responsive center-img" src="img/section1/1.png"/>
      </div>

      <div class="col-xs-3">
        <img class="img-responsive center-img" src="img/section1/2.png"/>
      </div>
      <div class="col-xs-3">
        <img class="img-responsive center-img" src="img/section1/3.png"/>
      </div>
      <div class="col-xs-3">
        <img class="img-responsive center-img" src="img/section1/4.png"/>
      </div>
    </div>
    <button class="btn btn-primary btn-strong success">Visit Never Group Up
      <sup>&reg;</sup>
    </button>
  </div>
</div>
