<div class="section-seven get-center">
  <div class="seven-one seven-animate" ng-hide="talk">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-6 col-sm-5 col-xs-12">
          <div class="talk-image">
            <img src="img/section7/1.png" alt="" class="img-responsive" />
          </div>
        </div>
        <div class="col-md-5 col-sm-7">
          <div class="talk-detail">
            <h2 class="text-left warning">Let's Talk</h2>
            <p class="text-justify light">A happier workforce stays longer and is more productive. Interested to find out if measuring employee happyness is really easy and fun to do? Ask for a demo!</p>
            <button class="btn btn-green text-center" type="button" ng-click="talk=true">Click here</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="seven-two seven-animate" ng-show="talk">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-6 col-sm-12">
          <div class="contact-section">
            <p class="text-justify light">Call us on +91 98923 38317 / +91 90290 38317 or share details and we’ll get back.</p>
            <div class="contact-form">
              <form action="" class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 light" for="name">Name:</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="name" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 light" for="name">Email:</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="name" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 light" for="name">Organization:</label>
                  <div class="col-sm-9">
                    <input class="form-control" id="name" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 light" for="name">Telephone no:</label>
                  <div class="col-sm-9">
                    <input class="form-control" id="name" type="text">
                  </div>
                </div>
              </form>
            </div>
            <div class="contact-buttons">
              <button class="btn btn-green text-center" type="button">Send</button>
              <button class="btn btn-green text-center" type="button" ng-click="talk=false">Back</button>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="contact-image">
            <img src="img/section7/2.png" alt="" class="img-responsive" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pattern-bottom bg-white">
  <img src="img/right.png" alt="" class="full-image" />
</div>
