<div class="section-four">
  <div class="hq-store-blog">
    <div class="hq-store text-center">
      <h2>What's in Store?</h2>
      <span>To know what more is in store about Happyness Quotient!</span>
      <button type="button" class="btn btn-primary">Click here</button>
    </div>
    <div class="hq-blog text-center">
      <h2>Visit our blog</h2>
      <button type="button" class="btn btn-primary">Click here</button>
    </div>
    <div class="hq-store-guy">
      <img src="img/section4/1.png" alt="" class="img-responsive" />
    </div>
  </div>
</div>
