@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
h2 { font-size: 36px; }
.get-center {
  @include position(absolute, 50% auto auto 50%);
  @include transform(translate(-50%, -50%));
}
.text-bold {
  font-weight: bold;
}
.btn, a {
  &:active { box-shadow: none; }
  &:focus { outline: none; }
  &:active:focus { outline: none; }
}
.btn-primary { font-weight: bold; }
.btn-green {
  padding: 1px 0;
  font-weight: bold;
  @include button-variant($brand-success, $brand-primary, $brand-primary);
}
.btn-pink {
  padding: 1px 0;
  font-weight: bold;
  @include button-variant($brand-danger, $brand-primary, $brand-primary);
}
.btn-pink2 {
  padding: 1px 50px;
  @include button-variant(white, $brand-danger, $brand-danger);
}
// Section 2
.hq-features {
  .hq-image {
    margin-right: 50px;
    padding: 30px;
  }
  .hq-about, .about-one, .about-two {
    font-weight: 400;
    p {
      font-size: 16px;
      margin-bottom: 20px;
    }
    .about-buttons {
      margin-top: 100px;
      button {
        width: 40%;
        font-size: 16px;
      }
      button + button { width: 59%; }
    }
    .about-image {
      margin-top: 50px;
      float: right;
      img { width: 75%; }
    }
  }
  .about-one, .about-two {
    p + p { letter-spacing: 1px; }
    p > i { margin-right: 10px; }
    button {
      width: 30%;
      margin-top: 50px;
      font-size: 16px;
    }
    .about-one-image, .about-two-image {
      img {
        width: 40%;
        float: right;
      }
    }
    .about-two-image {
      img {
        margin-top: -150px;
        width: 35%;
      }
    }
  }
  .about-two {
    button { margin-top: 100px; }
  }
}

// Section 3
.section-three {
  .hq-video {
    width: 100%;
    height: 850px;
    background-image: url(../img/section3/1.jpg);
    background-size: cover;
    background-position: center center;
  }
  .hq-video-detail {
    @include transform(translate(-50%, -70%));
    h2 {
      margin-bottom: 30px;
      font-weight: 400;
      letter-spacing: 2px;
      text-shadow: 0px 0px 100px black;
    }
    span {
      display: block;
      font-size: 120px;
    }
  }
  .hq-awesome-guy {
    position: absolute;
    left: 10%;
    @include transform(translateY(30%));
    z-index: 9;
    bottom: 0;
    img { width: 75%; }
  }
}
// Section 4
.section-four {
  width: 100%;
  font-weight: 400;
  .hq-store-blog { width: 100%; padding-top: 10%; }
  .hq-store, .hq-blog {
    h2 { font-weight: 100; }
    span { font-size: 16px; }
    button {
      width: 200px;
      margin-top: 20px;
      padding: 1px 0;
      font-size: 16px;
    }
  }
  .hq-blog {
    h2 { margin-top: 50px; }
  }
  .hq-store-guy {
    position: absolute;
    right: 10%;
    bottom: 10%;
    img {
      width: 75%;
      float: right;
    }
  }
}
// Section 5
.section-five {
  font-weight: 400;
  h2 {
    letter-spacing: 1px;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .hq-table {
    padding: 15px 20px;
    background-color: lighten($brand-success, 5%);
    table {
      tr {
        border-bottom: 2px solid darken($brand-success, 2%);
        td {
          padding: 10px 20px;
          font-size: 16px;
          letter-spacing: 1px;
          border-right: 2px solid darken($brand-success, 2%);
          i { font-size: 28px; }
        }
        td:first-child { width: 40%; }
        td:last-child { border: none; }
      }
      tr:last-child { border: none; }
    }
  }
}
// Section 6
.section-six {
  .hq-reports {
    font-weight: 400;
    .hq-report-image {
      img {
        width: 50%;
        margin-right: 100px;
        float: right;
      }
    }
    .hq-report-detail {
      p { font-size: 16px; }
    }
  }
}
// Section 7
.seven-one {
  font-weight: 400;
  .talk-image {
    img { width: 75%; }
  }
  .talk-detail {
    h2 { margin-top: 20px; }
    p {
      margin-bottom: 50px;
      font-size: 16px;
    }
    button {
      width: 200px;
      font-size: 16px;
    }
  }
}
.seven-two {
  font-weight: 400;
  .contact-section {
    p {
      font-size: 20px;
      margin-bottom: 25px;
    }
    .contact-form {
      label {
        margin-top: 5px;
        font-size: 16px;
        font-weight: 400;
      }
      input {
        background-color: transparent;
        border: 2px solid $brand-warning;
        border-radius: 5px;
      }
    }
    .contact-buttons {
      button {
        width: 49.6%;
        font-size: 16px;
      }
    }
  }
  .contact-image {
    img {
      width: 85%;
      margin-top: 50px;
    }
  }
}

// Footer
footer {
  margin: 100px 0 50px 0;
  .about-us {
    span {
      margin-bottom: 10px;
      display: block;
    }
    span:first-child { font-weight: bold; }
    span:last-child { margin: 0; }
  }
  .footer-links-one {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .footer-links-two {
    font-weight: bold;
    .talk { margin-left: 15px; }
    .visit { margin-left: 30px; }
  }
  .mobile-store {
    margin: 50px 0;
    .play-store, .app-store {
      display: inline-block;
      img {
        width: 80%;
        display: inline-block;
      }
    }
  }
  .subscribe {
    margin-bottom: 30px;
    .form-group {
      .form-control {
        @include size(250px, 23px);
        margin-right: -5px;
        display: inline-block;
        color: black;
        font-size: 13px;
        @include placeholder { font-family: $font-family-sans-serif; }
        &:focus {
          outline: none;
          border: 1px solid #ccc;
          box-shadow: none;
        }
      }
    }
  }
  .social-links {
    margin: 20px 0 10px 0;
    a {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      border-radius: 100%;
      display: inline-block;
      line-height: 35px;
      font-size: 18px;
      &:hover {
        background-color: $brand-success;
      }
    }
    a:last-child { margin: 0; }
  }
  .footer-copyright {
    width: 70%;
    margin: 0 auto;
    font-size: 12px;
    p { padding: 0 90px; }
    hr {
      border-color: black;
      margin: 10px 0;
    }
    span {
      margin: 0 10px;
    }
  }
}

// Store
.store-logo {
  margin: 40px 0;
  img {
    @include size(20%, auto);
    margin: 0 auto;
    display: block;
  }
}


// ANIMATIONS
// .seven-one.ng-hide-add {
//   transition: all 3s ease;
// }
// .seven-one.ng-hide-remove {
//   transition: all 3s ease;
// }

.seven-animate.ng-hide-add {
  -webkit-animation:0.5s hide;
  animation:0.5s hide;
}
@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}
@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% {
    opacity:0;
    transform: scale(0.5);
  }
}
.seven-animate.ng-hide-remove {
  -webkit-animation:0.3s show;
  animation:0.3s show;
}
@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}
@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% {
    opacity:1;
    transform: scale(1);
  }
}
