.get-center {
  @include position(absolute, 50% auto auto 50%);
  @include transform(translate(-50%, -50%));
}
.text-bold {
  font-weight: bold;
}
button { color: transparent; }
.btn-green {
  @include button-variant($brand-success, $brand-primary, $brand-primary);
}
.btn-pink {
  @include button-variant($brand-danger, $brand-primary, $brand-primary);
}
.btn-pink2 {
  padding: 2px 50px;
  @include button-variant(white, $brand-danger, $brand-danger);
}

// Section 2
.hq-features {
  .hq-image { margin-right: 50px; }
  .hq-about, .about-one, .about-two {
    font-weight: 100;
    p { margin-bottom: 20px; }
    .about-title { font-size: 32px; }
    .about-buttons {
      margin-top: 100px;
      button {
        width: 40%;
        font-size: 16px;
      }
      button + button { width: 59%; }
    }
    .about-image {
      margin-top: 50px;
      float: right;
      img { width: 75%; }
    }
  }
  .about-one, .about-two {
    p + p { letter-spacing: 1px; }
    p > i { margin-right: 10px; }
    button {
      width: 30%;
      margin-top: 50px;
      font-size: 16px;
    }
    .about-one-image, .about-two-image {
      img {
        width: 50%;
        float: right;
      }
    }
    .about-two-image {
      img {
        margin-top: -140px;
        width: 40%;
      }
    }
  }
  .about-two {
    button { margin-top: 100px; }
  }
}
.about-one, .about-two { display: none; }

// Section 3
.section-three {
  .hq-video {
    width: 100%;
    height: 850px;
    background-color: #777;
  }
  .hq-video-detail {
    @include transform(translate(-50%, -100%));
    h4 {
      font-size: 32px;
      font-weight: 100;
      letter-spacing: 2px;
    }
    h4 + h4 { margin-bottom: 30px; }
    span {
      display: block;
      font-size: 80px;
    }
  }
  .hq-awesome-guy {
    position: absolute;
    left: 10%;
    bottom: -10%;
    img { width: 75%; }
  }
}
// Section 4
.section-four {
  width: 100%;
  font-weight: 100;
  .hq-store-blog { width: 100%; }
  .hq-store, .hq-blog {
    h2 { font-size: 54px; }
    span { font-size: 18px; }
    button {
      width: 200px;
      margin-top: 20px;
      font-size: 16px;
    }
  }
  .hq-blog {
    h2 { margin-top: 50px; }
  }
  .hq-store-guy {
    position: absolute;
    right: 10%;
    bottom: -5%;
    img { width: 75%; }
  }
}
// Section 5
.section-five {
  font-weight: 100;
  h2 {
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 50px;
  }
  .hq-table {
    padding: 15px 20px;
    background-color: lighten($brand-success, 5%);
    table {
      tr {
        border-bottom: 2px solid darken($brand-success, 2%);
        td {
          padding: 10px 20px;
          font-size: 18px;
          letter-spacing: 1px;
          border-right: 2px solid darken($brand-success, 2%);
          i { font-size: 28px; }
        }
        td:first-child { width: 40%; }
        td:last-child { border: none; }
      }
      tr:last-child { border: none; }
    }
  }
}
// Section 6
.section-six {
  .hq-reports {
    font-weight: 100;
    .hq-report-image {
      img {
        width: 50%;
        margin-right: 100px;
        float: right;
      }
    }
    .hq-report-detail {
      p { font-size: 36px; }
      p + p { font-size: 18px; }
    }
  }
}
// Section 7
.seven-one {
  font-weight: 100;
  .talk-image {
    img { width: 75%; }
  }
  .talk-detail {
    p {
      margin-top: 20px;
      font-size: 36px;
    }
    p + p {
      margin-bottom: 50px;
      font-size: 18px;
    }
    button {
      width: 200px;
      font-size: 16px;
    }
  }
}
.seven-two {
  font-weight: 100;
  .contact-section {
    p {
      font-size: 20px;
      margin-bottom: 25px;
    }
    .contact-form {
      label {
        font-size: 18px;
        font-weight: 100;
      }
      input {
        background-color: transparent;
        border: 2px solid $brand-warning;
        border-radius: 5px;
      }
    }
    .contact-buttons {
      button {
        width: 49.6%;
        font-size: 16px;
      }
    }
  }
  .contact-image {
    width: 85%;
    margin-top: 50px;
  }
}
.seven-two { display: none; }

// Footer
footer {
  margin: 100px 0 50px 0;
  .about-us {
    span {
      margin-bottom: 10px;
      display: block;
    }
    span:first-child { font-weight: bold; }
    span:last-child { margin: 0; }
  }
  .footer-links-one {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .footer-links-two {
    font-weight: bold;
    .visit { margin-left: 30px; }
  }
  .mobile-store {
    margin: 50px 0;
    .play-store, .app-store {
      display: inline-block;
      img {
        width: 80%;
        display: inline-block;
      }
    }
  }
  .subscribe { margin-bottom: 20px; }
  .social-links {
    margin: 20px 0;
    a {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      display: inline-block;
      line-height: 35px;
      font-size: 18px;
    }
  }
  .footer-copyright {
    width: 70%;
    margin: 0 auto;
    p { padding: 0 90px; }
    hr {
      border-color: black;
      margin: 10px 0;
    }
  }
}
