@media (max-width: $screen-md-max) {
  // Section 2
  .hq-features {
    .hq-about {
      .about-title { font-size: 28px; }
    }
  }
  // Section 4
  .section-four {
    .hq-store-guy {
      right: 5%;
      bottom: -5%;
      img {
        width: 60%;
        float: right;
      }
    }
  }
  // Section 7
  .section-seven {
    .seven-two {
      .contact-section {
        .contact-buttons {
          text-align: center;
          button { width: 40%; }
        }
      }
    }
  }
}
@media (max-width: $screen-sm-max) {
  // Section 2
  .hq-image {
    margin-bottom: 20px;
    img {
      width: 15%;
    }
  }
  .hq-features {
    .about-one,
    .about-two {
      .about-title {
        font-size: 28px;
      }
      .about-one-image,
      .about-two-image {
        img {
          width: 25%;
          float: right;
        }
      }
    }
  }

  // Section 3
  .section-three {
    .hq-awesome-guy {
      img { width: 50%; }
    }
  }
  // Section 4
  .section-four {
    .hq-store h2,
    .hq-blog h2 {
      font-size: 40px;
    }
    .hq-store span {
      font-size: 14px;
    }
    .hq-store-guy {
      right: 5%;
      bottom: 25%;
      img {
        width: 50%;
        float: right;
      }
    }
  }

  // Section 5
  .section-five {
    h2 {
      font-size: 32px;
    }
    .hq-table {
      table {
        tr {
          td {
            font-size: 14px;
          }
        }
      }
    }
  }

  // Section 6
  .section-six {
    .hq-reports {
      .hq-report-detail {
        p {
          font-size: 24px;
        }
        p + p {
          font-size: 14px;
        }
      }
    }
  }

  // Section 7
  .section-seven {
    .talk-image {
      margin-top: 50px;
      img {
        width: 75%;
        margin: 0 auto;
      }
    }
    .talk-detail {
      p { font-size: 28px; }
      p + p { font-size: 14px; }
    }
    .seven-two {
      .contact-image {
        img {
          width: 15%;
          float: right;
        }
      }
    }
  }

  // Footer
  footer {
    text-align: center;
    .about-us {
      margin-bottom: 30px;
      span {
        margin: 0;
      }
    }
    .footer-links-two {
      .visit {
        margin: 0;
      }
    }
    .footer-copyright {
      p {
        padding: 0 20px;
      }
    }
  }
}
@media (max-width: $screen-xs-max) {

  // Section 2
  .section-two {
    @include position(relative, 0 0 0 0);
    @include transform(translate(0, 0));
    padding: 50px 20px;
    .hq-about {
      .about-title { font-size: 24px; }
      .about-buttons {
        margin-top: 50px;
        button {
          width: 100%;
          display: block;
          margin-bottom: 20px;
          font-size: 12px;
        }
        button + button {
          width: 100%;
          display: block;
          margin: 0;
        }
      }
      .about-image {
        img {
          width: 50%;
          float: right;
        }
      }
    }
  }

  // Section 3
  .section-three {
    .hq-video-detail {
      width: 80%;
      h4 { font-size: 24px; }
    }
    .hq-awesome-guy {
      img { width: 30%; }
    }
  }
  // Section 4
  .section-four {
    .hq-store {
      button { font-size: 14px; }
    }
    .hq-store-guy {
      display: none;
    }
    .hq-store-blog {
      padding-top: 40%;
    }
  }

  // Section 5
  .section-five {
    width: 100%;
    h2 {
      margin-bottom: 20px;
      font-size: 20px;
    }
    .hq-table {
      padding: 10px;
      overflow-x: scroll;

      table {
        zoom: 0.6;
        tr {
          td {
            font-size: 14px;
          }
        }
      }
    }
  }

  // Section 6
  .section-six {
    .hq-reports {
      width: 80%;
      .hq-report-detail {
        margin-top: 50px;
        p { font-size: 20px; }
      }
      .hq-report-image {
        img {
          width: 30%;
          margin: 0 auto;
          float: none;
        }
      }
    }
  }

  // Section 7
  .section-seven {
    width: 80%;
    .seven-one {
      .talk-detail {
        button { font-size: 14px; }
      }
      .talk-image {
        margin-bottom: 50px;
        img { width: 50%; }
      }
    }
    .seven-two {
      .contact-section {
        p { font-size: 14px; }
        .contact-form {
          label { font-size: 14px; }
        }
        .contact-buttons {
          text-align: center;
          button {
            width: 40%;
            font-size: 14px;
          }
        }
      }
    }
    .contact-image {
      img {
        width: 30%;
        margin-top: 20px;
        float: right;
      }
    }
  }
  // Footer
  footer {
    .mobile-store {
      .play-store { margin-bottom: 10px; }
      .app-store { margin-bottom: 10px; }
      .play-store, .app-store {
        img {
          width: 50%;
        }
      }
    }
    .footer-copyright {
      width: 90%;
      font-size: 12px;
      p { padding: 0 10px; }
    }
  }
}


// /////////////////////////
// LANDSCAPE
// /////////////////////////

@media (max-width: $screen-md-max) and (orientation: landscape) {
  .section-two {
    margin: 20px 0;
  }
  .hq-features {
    .hq-about, .about-one, .about-two {
      .about-buttons { margin-top: 50px; }
    }
    .about-one {
      .about-one-image { margin-top: -50px; }
    }
    .about-two {
      button { margin-top: 50px; }
      .about-two-image { img {
        width: 30%;
        margin-top: -100px;
      } }
    }
  }
  .section-five {
    h2 { font-size: 40px; }
    .hq-table { table { tr { td { font-size: 16px; } } } }
  }
}

@media (max-width: $screen-sm-max) and (orientation: landscape) {
  .section-two {
    margin: 0;
  }
  .hq-store-blog {
    margin: 0px 0;
    .hq-store, .hq-blog {
      h2 { font-size: 28px; }
      button {
        width: 20%;
        margin-top: 10px;
      }
    }
    .hq-blog {
      h2 { margin-top: 20px; }
    }
  }
  // Section 6
  .section-six {
    .hq-reports {
      .hq-report-image {
        img {
          width: 10%;
          float: left;
        }
      }
      .hq-report-detail { margin-top: 10px; }
    }
  }
  // Section 5
  .section-five {
    h2 {
      margin: 10px 0;
      font-size: 20px;
    }
    .hq-table {
      padding: 2px;
      table { tr { td {
      padding: 5px 12px;
      font-size: 14px;
    } } } }
  }
  // Section 7
  .section-seven {
    .seven-one {
      .talk-image {
        margin: 0;
        img {
          width: 15%;
          float: left;
          margin-bottom: 10px;
        }
      }
    }
    .seven-two {
      .contact-section {
        p { margin: 0; }
        .contact-form {
          .form-group {
            margin: 0;
            label {
              margin: 0;
              font-size: 12px;
            }
            input {
              height: 25px;
              margin: 2px 0;
            }
          }
          .form-group:last-child { margin-bottom: 10px; }
        }
        .contact-buttons { button { padding: 4px 0; } }
      }
      .contact-image { display: none; }
    }
    .talk-detail {
      p { font-size: 20px; }
      p + p { margin-bottom: 20px; }
    }
  }
}
