.bg-home-one {
    background-color: $brand-yellow;

    &:focus {
        background-color: $brand-yellow !important;
    }
}

.iphone {
    position: relative;

    .iphone1 {
        position: absolute;
        width: 70%;
        left: 10%;
        top: 0px;
    }

    // .iphone2 {
    //     position: absolute;
    //     width: 40%;
    //     right: 15%;
    //     top: 40px;
    // }
}

.hq-store-padd {
    padding: 0 70px;
}

.different-img {
    img {
        width: 30%;
        padding: 25px 0;
        margin: 0 auto;
    }
}

.white-color {
    color: white;
}

.bold {
    font-weight: 600;
}