@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,300,100|Nunito:400,300,700);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";

/* Bootstrap Variables Goes Here */

$brand-primary: #ffd61e !default;
$brand-success: #00ac93 !default;
$brand-danger: #f55069 !default;
$brand-info: #000072 !default;
$brand-warning: #ffec39 !default;
$brand-blue: #0084c8 !default;
$body-bg: #fff !default; // $text-color: $gray-base !default;
// $link-color: $gray-base !default;
// $link-hover-color: $gray-base !default;
$link-hover-decoration: none !default;
$font-family-sans-serif: "Nunito",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif !default;
$font-family-serif: "Lato",
Georgia,
"Times New Roman",
Times,
serif !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$select-height: 34px !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
body {
    -webkit-font-smoothing: antialiased;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

.btn {
    font-family: $font-family-serif;
    border-radius: 3px;
    @include transition(all 300ms ease);
}

.btn-blue {
    @include button-variant($brand-primary, $brand-blue, $brand-blue);
}

.btn.btn-strong {
    padding: 2px 10px;
    margin: 30px 0;
}


/* Start writing sass here */

.section {
    position: relative;
}

.light {
    color: white;
    &:focus,
    &:hover {
        color: white;
    }
}

.dark {
    color: black;
    &:focus,
    &:hover {
        color: black;
    }
}

.primary {
    color: $brand-primary;
    &:focus,
    &:hover {
        color: $brand-primary;
    }
}

.brand-blue {
    color: $brand-blue;
    &:focus,
    &:hover {
        color: $brand-blue;
    }
}

.danger {
    color: $brand-danger;
    &:focus,
    &:hover {
        color: $brand-danger;
    }
}

.warning {
    color: $brand-warning;
    &:focus,
    &:hover {
        color: $brand-warning;
    }
}

.success {
    color: $brand-success;
    &:focus,
    &:hover {
        color: $brand-success;
    }
}

.bg-primary {
    background-color: $brand-primary;
}

.bg-danger {
    background-color: $brand-danger;
}

.bg-warning {
    background-color: $brand-warning;
}

.bg-success {
    background-color: $brand-success;
    &:focus {
        background-color: $brand-success !important;
    }
}

.bg-blue {
    background-color: $brand-blue;
}

.bg-white {
    background-color: white;
}

.center-img {
    display: inline-block;
}

.happy-people {
    margin: 50px auto 0;
    max-width: 1170px;
    img {
        width: 75%;
    }
}

.centralize {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    @include transform(translateY(-50%));
}

.arrow-down {
    position: absolute;
    bottom: 50px;
    left: calc(50% - 5px);
    z-index: 1;
    i {
        font-size: 30px;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: $brand-primary;
    text-align: center;
    color: white;
    font-size: 22px;
    padding: 30px 0;
    @include transition(all 300ms ease);
    @include transform(translateY(-100%));
    &.show {
        @include transform(translateY(0));
    }
    a {
        color: white;
        padding: 10px 0;
        display: block;
        max-width: 230px;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
        @include transition(all 300ms ease);
        &.active {
            color: $brand-danger;
        }
    }
}

.menu-circle {
    background-color: $brand-primary;
    height: 50px;
    width: 50px;
    padding-top: 12px;
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 9999;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    .hide-it {
        opacity: 0;
    }
    .show-it {
        opacity: 1;
    }
    i.fa-angle-up {
        color: white;
        font-size: 35px;
        line-height: 23px;
    }
    &.bottom {
        top: auto;
        bottom: 35px;
    }
    .bar {
        display: block;
        height: 2px;
        width: 24px;
        background-color: white;
        margin: 5px auto;
        @include transition(all 300ms ease);
    }
}

.closer {
    .bar2 {
        opacity: 0;
    }
    .bar1 {
        transform: rotate(45deg) translate(4px, 6px);
    }
    .bar3 {
        transform: rotate(-45deg) translate(4px, -6px);
    }
}

.pattern-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    img {
        vertical-align: top;
    }
}

.pattern-top {
    position: absolute;
    left: 0;
    top: 0;
    img {
        vertical-align: top;
    }
}

.to-bottom {
    img {
        vertical-align: bottom;
    }
}

.full-image {
    width: 100%;
}

.enquiryValidation {
    color: maroon;
    margin-top: 3px;
    margin-bottom: 0;
}

.modal {
    video {
        margin-bottom: -5px;
    }
}

.close-modal {
    position: absolute;
    color: white;
    right: -7px;
    top: -10px;
    font-size: 15px;
    background-color: black;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    z-index: 9;
}

.modal-backdrop.in {
    opacity: 0.85;
}

.pointer {
    cursor: pointer;
}

.btn-primary {
    // color: #fff;
    background-color: #fff;
    border-color: #fff;
}

.panel-group {
    .panel {
        background: transparent;
    }
    .panel-default {
        border-color: transparent;
    }
}

// .hidebordercolor {
//     border-color: rgba(221, 221, 221, 0) !important;
// }
.hidebordercolor {
    position: relative;
    .circle {
        background: #0084c7;
        position: absolute;
        width: 63px;
        height: 63px;
        border-radius: 50%;
        border: 4px solid #eeed3b;
        @include transform(translateX(-25%));
        text-align: center;
        padding: 21px 0;
        color: #fff;
        top: -1px;
        left: 0;
    }
    .g-circle {
        background: #00ac94;
    }
}

.panel-group .panel {
    margin-bottom: 30px;
}

.hidebordercolor .panel-heading {
    background-color: #0084c7 !important;
    color: #fff;
    border-radius: 10px;
    padding: 22px 22px 22px 58px;
    // border-bottom: 1px solid black !important;
}

.altn-tab .panel-heading {
    background-color: #00ac94 !important;
}

// .padfaq {
//     padding: 1% 14%;
// }
.bg-cont {
    background: #eeed3b;
}

.semi-foot {
    background: #00ac94;
    position: relative;
    .right-green {
        position: absolute;
        top: 0;
    }
    .semi-foot-sec {
        min-height: 500px;
        position: relative;
        .inner-section {
            .align {
                display: inline-block;
                vertical-align: middle;
            }
            // .contact-txt {
            //     margin-top: 60px;
            // }
            text-align: center;
            width: 100%;
            position: absolute;
            top: 60%;
            left: 50%;
            color: #fff;
            @include transform(translate(-50%, -50%));
            h3 {
                margin-bottom: 40px;
            }
            .contact {
                p {
                    font-size: 20px;
                    text-align: center;
                    margin: 0;
                    a {
                        font-size: 20px;
                        color: #eeed3b;
                    }
                }
            }
        }
    }
}

.padimg {
    padding: 4% 0;
}

.hidebordercolor i {
    font-size: 22px !important;
    color: #eeed3b;
}

.faqimg {
    // width: 100% !important;
    width: 300px !important;
    margin: 0 auto;
}

.padp {
    color: #000;
    font-size: 30px;
    font-family: sans-serif;
    // border-bottom: 1px solid;
    // display: inline-block;
    margin-bottom: 30px;
}

.hidebordercolor .panel-body {
    background-color: #0084c7 !important;
    color: #fff;
}

.altn-tab .panel-body {
    background-color: #00ac94 !important;
}

.p14 {
    font-size: 12px;
    margin-left: 5%;
}

.panel-body a {
    color: black !important;
    font-weight: 400 !important;
}

@import "harsh";
@import "mobile";