<div class="container">
    <div class="row">
        <div class="padfaq">
            <div class="padimg text-center ">
                <img alt="Logo" class="img-responsive faqimg" src="img/faq.jpg">
            </div>
            <p class="padp">FAQs with Responses</p>

            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>2.</strong> What is the Happyness Quotient TM tool all about?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Happyness Quotient TM is a cloud based tool powered by Never Grow Up ®. It attempts to understand what makes an individual happy in life and more specifically, at work. It’s a tool that is fun to administer, customizable and comprehensive
                            in nature.

                        </p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>3.</strong> Why would I want to use this tool for my company?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Organizations are what its employees want it to be. To have an edge in the market and retain the right kind of talent to grow as a business, it has become essential for employees to feel understood and be happy at work. As a culmination
                            of these factors, being able to quantify the people angle has a new relevance. Happyness Quotient TM allows an organization to do that. With 10 diverse and yet interconnected pillars that Happyness Quotient TM is based on,
                            there are a range of factors that an organization can work towards.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>4.</strong> What's Unique about Happyness Quotient TM ?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Lots of things! It’s flexible and can be customised to suit the culture and values of the organization using it. The tool has been designed creatively and its fun elements don’t make it seem like a survey! You can customize weightages;
                            thus measuring what matters to your company and values. [View More]</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>5.</strong> I already have an employee engagement survey in place. Now what?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Have a look at what Happyness Quotient TM is offering! Based on what your existing survey already measures, we are sure we’ll be able to customise the tool to suit the existing framework. Besides, while the survey currently in
                            place may be annual or bi-annual in nature, what Happyness Quotient TM offers is more continuous in nature. [View Packages]</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>6.</strong> What if I still want to administer general smaller surveys to get specific

feedback from employees?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Happyness Quotient TM allows you to do just that with the feature of administering 10-question mini surveys throughout the year. You can administer as many mini surveys as you like and analyse data in comparison to the data derived
                            from the tool itself.

                        </p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>7.</strong> How does Happyness Quotient TM work? Once it’s administered, what’s next?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Once you administer Happyness Quotient TM , you will have access to a dashboard of data. You can ask us to present a detailed report for every segment. All our recommendations will be data driven and relevant to your company. If
                            required, Focus Group Discussions with key stakeholders to deepen understanding can also be conducted. Next, based on our recommendations and action plans, we will be happy to manage initiatives on a turnkey basis thus ensuring
                            that plans are executed with a positive impact.

                        </p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>8.</strong> How can I translate the results into concrete action plans?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Results will be segregated and visually represented to give you an accurate idea of what employees feel about working in your company. While an organizational macro view will be shown, the results can be translated into concrete
                            action plans because areas of strength and opportunity for every data cut will be given.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>

            </uib-accordion>
        </div>
    </div>
</div>
