<div class="container">
    <div class="row">
        <div class="padfaq">
            <div class="padimg text-center ">
                <img alt="Logo" class="img-responsive faqimg" src="img/faq.jpg">
            </div>
            <p class="padp">FAQs with Responses</p>

            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>1.</strong> Why is it important to measure Happyness at Work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open1, 'fa fa-angle-down': !status.open1}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Understanding what really drives employees is not a choice anymore. It has become an imperative. With today’s workforce, measuring engagement levels isn’t enough. By measuring happyness at work, organizations can make better decisions,
                            launch more accurate initiatives and drive accountability. This is what will give organizations to stay ahead of the curve and retain the right talent to excel!</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open2">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>2.</strong> What is the Happyness Quotient TM tool all about?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open2, 'fa fa-angle-down': !status.open2}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Happyness Quotient TM is a cloud based tool powered by Never Grow Up ®. It attempts to understand what makes an individual happy in life and more specifically, at work. It’s a tool that is fun to administer, customizable and comprehensive
                            in nature.

                        </p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open3">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>3.</strong> Why would I want to use this tool for my company?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open3, 'fa fa-angle-down': !status.open3}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Organizations are what its employees want it to be. To have an edge in the market and retain the right kind of talent to grow as a business, it has become essential for employees to feel understood and be happy at work. As a culmination
                            of these factors, being able to quantify the people angle has a new relevance. Happyness Quotient TM allows an organization to do that. With 10 diverse and yet interconnected pillars that Happyness Quotient TM is based on,
                            there are a range of factors that an organization can work towards.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open4">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>4.</strong> What's Unique about Happyness Quotient TM ?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open4, 'fa fa-angle-down': !status.open4}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Lots of things! It’s flexible and can be customised to suit the culture and values of the organization using it. The tool has been designed creatively and its fun elements don’t make it seem like a survey! You can customize weightages;
                            thus measuring what matters to your company and values. <a target="_blank" href="http://www.happynessquotient.com/hqisunique">[View More]</a></p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open5">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>5.</strong> I already have an employee engagement survey in place. Now what?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open5, 'fa fa-angle-down': !status.open5}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Have a look at what Happyness Quotient TM is offering! Based on what your existing survey already measures, we are sure we’ll be able to customise the tool to suit the existing framework. Besides, while the survey currently in
                            place may be annual or bi-annual in nature, what Happyness Quotient TM offers is more continuous in nature. <a target="_blank"  href="http://www.happynessquotient.com/packagedetail">[View Packages]</a></p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open6">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>6.</strong> What if I still want to administer general smaller surveys to get specific feedback from employees?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open6, 'fa fa-angle-down': !status.open6}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Happyness Quotient TM allows you to do just that with the feature of administering 10-question mini surveys throughout the year. You can administer as many mini surveys as you like and analyse data in comparison to the data derived
                            from the tool itself.

                        </p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open7">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>7.</strong> How does Happyness Quotient TM work? Once it’s administered, what’s next?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open7, 'fa fa-angle-down': !status.open7}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Once you administer Happyness Quotient TM , you will have access to a dashboard of data. You can ask us to present a detailed report for every segment. All our recommendations will be data driven and relevant to your company. If
                            required, Focus Group Discussions with key stakeholders to deepen understanding can also be conducted. Next, based on our recommendations and action plans, we will be <a  target="_blank"  href="http://www.willnevergrowup.com/employeeengagement">happy to manage </a> initiatives on a turnkey basis thus ensuring
                            that plans are executed with a positive impact.

                        </p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open8">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>8.</strong> How can I translate the results into concrete action plans?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open8, 'fa fa-angle-down': !status.open8}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Results will be segregated and visually represented to give you an accurate idea of what employees feel about working in your company. While an organizational macro view will be shown, the results can be translated into concrete
                            action plans because areas of strength and opportunity for every data cut will be given.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open9">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>9.</strong> I am not tech-savvy. Will I be able to understand how to run Happyness Quotient TM ?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open9, 'fa fa-angle-down': !status.open9}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Absolutely! Our tool, whether used on a desktop or as a mobile application, is user-friendly and convenient. The team at Never Grow Up ® will be happy to assist you every step of the way.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open10">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>10.</strong> Does Happyness Quotient TM come in different packages based on the availability of the features?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open10, 'fa fa-angle-down': !status.open10}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Yes, it does. We have <a target="_blank"href="http://www.happynessquotient.com/packagedetail">four broad packages</a> under which the tool can be administered. Based on your budget and other requirements, you can choose a package accordingly. On a case-to- case basis, we can also help you choose features
                            across packages to create a customised one.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open11">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>11.</strong> Will my employee data be safe and secure?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open11, 'fa fa-angle-down': !status.open11}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Yes, it will. Your employee data will get encrypted and stored on a server that our IT team manages. Happyness Quotient TM is run on an independent server and access to it is extremely limited. We respect data and understand privacy.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open12">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>12.</strong> How much access to the results of the tool will my employees get? Is giving employees an access to the data necessary?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open12, 'fa fa-angle-down': !status.open12}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>We believe it’s the HR Team in your organization that should guide us on this one. When employees are asked a series of work life related questions, they are bound to be curious about the results. Giving them access to the data
                            makes the process a transparent one. So, based on your company policies, culture and values, together we can decide how much access to give and we can customise reports accordingly.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open13">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>13.</strong> How will I know if my employees are being honest while answering the tool?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open13, 'fa fa-angle-down': !status.open13}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>

                            Every question of the tool has been created making sure it is not biased and suggestive. Predominantly, every question has been made into a situation that the employee is likely to face at work. Since happiness is a subjective construct, understanding
                            what one would do in different situations is the most reliable way of understanding an employee’s mind-set.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open14">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>14.</strong> How can I get my employees to participate and answer all the questions of the tool?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open14, 'fa fa-angle-down': !status.open14}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>The good thing about Happyness Quotient TM is that the questions can be staggered and sent to the employees over a period of time. There are two ways in which we can ensure employees participate and answer all the questions.</p>
                        <p class="p14"><strong> 1) </strong> Are questions are fun and creative. We are quite sure your employees will look forward to answering the questions as it won’t feel like the ‘typical’ survey they have been shown before.</p>
                        <p class="p14"><strong> 2) </strong>Unless a question sent earlier isn’t answered, the system doesn’t allow the employee to answer the other questions of the tool. This also helps ensure every question is being answered.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open15">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>15.</strong> How can I make sure this does not distract them from their work?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open15, 'fa fa-angle-down': !status.open15}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>How many questions get asked at one time is decided by you. Tell us what suits your employees best and we can configure the back-end operations of the tool accordingly.

                        </p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open16">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>16.</strong> Is there a possibility of the employees not taking this tool seriously enough because of its casual look and approach?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open16, 'fa fa-angle-down': !status.open16}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>The reason why our tool has adopted a ‘fun’ look is so that employees do not feel like they are being monitored at work. It is also to break the monotony from the other surveys the employees might be answering.</p>
                    </div>
                </div>
                <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open17">
                    <uib-accordion-heading>
                        <h4 class="panel-title "><strong>17.</strong> What if the weightages set by Never Grow Up ® don't work for my company? How do I customise the weightages for my organization?
                      <i class="pull-right fa " ng-class="{'fa fa-angle-up': status.open17, 'fa fa-angle-down': !status.open17}"></i>
                    </h4>
                    </uib-accordion-heading>
                    <div>
                        <p>Every workplace has a unique culture and a different set of values that they believe in. Based on the package chosen, it is possible for you to customise weightages to suit your organization. Speak to our team today!</p>
                        <p>Do you have a question we haven’t answered yet? Reach out to us at <a target="_blank" href="mailto:info@willnevergrowup.com"></a> or call us on +91 9892338317/ +91 9029038317 </p>
                    </div>
                </div>

            </uib-accordion>
        </div>
    </div>
</div>
