<section class="section one bg-success" ng-include="section.one" auto-height></section>
<div class="pattern-red">
  <img src="img/right.png" alt="" class="img-responsive" />
</div>
<section class="section two bg-danger" ng-include="section.two" auto-height></section>
<section class="section three" ng-include="section.three" auto-height></section>
<section class="section four" ng-include="section.four" auto-height></section>
<div class="pattern-green">
  <img src="img/left.png" alt="" class="img-responsive" />
</div>
<section class="section five bg-success" ng-include="section.five" auto-height></section>
<div class="pattern-red">
  <img src="img/right.png" alt="" class="img-responsive" />
</div>
<section class="section six bg-danger" ng-include="section.six" auto-height></section>
<div class="pattern-green">
  <img src="img/red-left.png" alt="" class="img-responsive" />
</div>
<section class="section seven bg-success" ng-include="section.seven" auto-height></section>
<div class="pattern">
  <img src="img/right.png" alt="" class="img-responsive" />
</div>
