<section auto-height class="section one bg-success" id="about" ng-include="section.one"></section>
<section auto-height class="section two bg-danger" id="happyness" ng-include="section.two"></section>
<section class="section three" id="happinessquotient" ng-include="section.three"></section>
<section class="section four bg-primary" id="packages" ng-include="section.four"></section>
<section class="section five bg-success" id="hqisunique" ng-include="section.five"></section>
<section class="section six bg-danger" id="services" ng-include="section.six"></section>
<!-- <section auto-height class="section seven bg-success" id="contact" ng-include="section.seven"></section> -->
