<section>
  <div class="store-main bg-blue">
    <div class="container">
      <div class="store-logo">
        <a href="#/home"><img src="img/logo.png" alt=""></a>
      </div>
      <div class="store-table">
        <h2 class="warning text-center">What's In Store?</h2>
        <table class="text-center">
          <tr>
            <th class="light">Features</th>
            <th class="warning">Starter</th>
            <th class="warning">Advance</th>
            <th class="warning">Pro</th>
            <th class="warning">Pro Plus</th>
          </tr>
          <tr>
            <td class="light">Access to HQ with pre-determined weightages</td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
          </tr>
          <tr>
            <td class="light">Access to HQ with customized weightages</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
          </tr>
          <tr>
            <td class="light">Pillar Addition</td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
          </tr>
          <tr>
            <td class="light">Schedule Questions and Roll-out</td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
          </tr>
          <tr>
            <td class="light">Run Unlimited, Imdependent Mini Surveys</td>
            <td class="text-center"></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
          </tr>
          <tr>
            <td class="light">Strategy Recommendation &amp; Actionable Idea Plans</td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
          </tr>
          <tr>
            <td class="light">One View Access to Analytics</td>
            <td class="text-center"></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
          </tr>
          <tr>
            <td class="light"></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
            <td class="text-center"><i class="fa fa-check warning"></i></td>
          </tr>
        </table>
      </div>

      <div class="store-plans">
        <h3 class="warning">All Plans Include</h3>
        <span class="light">Development across Desktops, Android &amp; iOS devices.</span>
        <span class="light">Customized Communications Package</span>
        <span class="light">Real Time Statistics &amp; Multi User Access</span>
        <span class="light">Pre-Scheduled Deployment</span>
        <span class="light">Optional | Turnkey execution of concepts</span>
        <span class="light">Optional | Focus Groups &amp; Idea Clinics with Key Stakeholders.</span>
        <div class="plan-image">
          <img src="" alt="" />
        </div>
      </div>

      <div class="store-more">
        <h3 class="warning">Want More?</h3>
        <span class="light">Want Happyness Quotient to talk to your existing system?</span>
        <p class="light"><span class="uline">Talk to our team</span> if you want to build in a greater degree of flexibility and customization.</p>
      </div>
    </div>
  </div>
</section>
