<section>
  <div class="store-main bg-blue">
    <div class="container">
      <div class="store-logo">
        <a href="#/home"><img src="img/logo.png" alt="" class="img-responsive"></a>
      </div>
      <div class="store-table">
        <h2 class="warning text-center">What's In Store?</h2>
          <div class="store-table1">
            <table class="table table1">
              <tr>
                <td class="light">Features</td>
                <td class="warning text-center">Starter</td>
                <td class="warning text-center">Advance</td>
                <td class="warning text-center">Pro</td>
                <td class="warning text-center">Pro Plus</td>
              </tr>
            </table>
          </div>
          <div class="store-table2">
            <table class="table table2">
              <tr>
                <td class="light text-left">Access to HQ with pre-determined weightages</td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
              </tr>
              <tr>
                <td class="light text-left">Access to HQ with customized weightages</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
              </tr>
              <tr>
                <td class="light text-left">Pillar Addition</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
              </tr>
              <tr>
                <td class="light text-left">Schedule Questions and Roll-out</td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
              </tr>
              <tr>
                <td class="light text-left">Run Unlimited, Imdependent Mini Surveys</td>
                <td class="text-center"></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
              </tr>
              <tr>
                <td class="light text-left">White Labelled</td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
              </tr>
              <tr>
                <td class="light text-left">Strategy Recommendation &amp; Actionable Idea Plans</td>
                <td class="text-center"></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
              </tr>
              <tr>
                <td class="light text-left">One View Access to Analytics</td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
                <td class="text-center"><i class="fa fa-check warning"></i></td>
              </tr>
            </table>
          </div>
      </div>

      <div class="store-plans">
        <h2 class="warning">All Plans Include</h2>
        <span class="light">Development across Desktops, Android &amp; iOS devices.</span>
        <span class="light">Customized Communications Package.</span>
        <span class="light">Real Time Statistics &amp; Multi User Access.</span>
        <span class="light">Pre-Scheduled Deployment.</span>
        <span class="light">Optional | Turnkey execution of concepts.</span>
        <span class="light">Optional | Focus Groups &amp; Idea Clinics with Key Stakeholders.</span>
        <div class="plan-image">
          <img src="img/section2/3.png" alt="" class="img-responsive pull-right" />
        </div>
      </div>

      <div class="store-more">
        <h2 class="warning">Want More?</h2>
        <span class="light">Want Happyness Quotient to talk to your existing system?</span>
        <p class="light"><span class="uline">Talk to our team</span> if you want to build in a greater degree of flexibility and customization.</p>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <img src="img/right-blue.png" alt="" class="full-image" />
  </div>
</section>
