<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-12">
        <div class="about-us">
          <span>About Us</span>
          <span class="success">Why measure Happyness?</span>
          <span class="success">What's unique about Happyness Quotient?</span>
        </div>
      </div>
      <div class="col-md-10 col-sm-12">
        <div class="footer-links-one">
          <div class="row">
            <div class="col-md-2">
              <span><a href="" class="dark">Watch Video</a></span>
            </div>
            <div class="col-md-3">
              <span><a href="" class="dark">Whats In Store</a></span>
            </div>
            <div class="col-md-4">
              <span><a href="" class="dark">How is Happyness Quotient Different</a></span>
            </div>
            <div class="col-md-2">
              <span><a href="" class="dark">Whats next</a></span>
            </div>
          </div>
        </div>

        <div class="footer-links-two">
          <div class="row">
            <div class="col-md-2">
              <span><a href="" class="dark">Lets Talk</a></span>
            </div>
            <div class="col-md-4">
              <span><a href="" class="dark visit">Visit Never Grow Up<sup>&reg;</sup></a></span>
            </div>
            <div class="col-md-3">
              <span><a href="" class="dark visit">Visit Our Blog</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="mobile-store text-center">
        <div class="play-store">
          <img src="img/play-store.png" alt="" class="img-responsive" />
        </div>
        <div class="app-store">
          <img src="img/app-store.png" alt="" class="img-responsive" />
        </div>
      </div>

      <div class="subscribe text-center">
        <button type="button" class="btn btn-pink2">Subscribe</button>
      </div>

      <div class="social-links text-center">
        <a href="https://www.facebook.com/" class="bg-success light"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/" class="bg-success light"><i class="fa fa-twitter"></i></a>
        <a href="https://instagram.com/" class="bg-success light"><i class="fa fa-instagram"></i></a>
        <a href="https://plus.google.com/" class="bg-success light"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.pinterest.com/" class="bg-success light"><i class="fa fa-pinterest-p"></i></a>
        <a href="https://www.youtube.com/" class="bg-success light"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

    <div class="footer-copyright text-center">
      <div class="row">
        <div class="copyright">
          <p>&copy; The 'Never Grow Up Brown Box’, Happyness Quotient nomenclature and brand logo are registered trademarks and property of Never Grow Up ® Workshops Pvt. Ltd. All rights reserved.</p>
          <hr>
          <span>CopyrightHappynessQuotient{{template.year}}</span> |
          <span>Designed By <a href="https://www.ting.in/" class="dark">Ting</a></span>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <p>Copyright &copy; {{template.year}}. All Right Resvered.</p>
<p>Developed by <a href="http://www.wohlig.com" target="_blank">Wohlig Technology</a>.</p> -->
